#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  gap: 2px;
}
.list-group-item button {
  opacity: 0;
}

.list-group-item:hover button {
  opacity: 100;
}

.active button {
  opacity: 100;
}

.chats-div.list-group-item,
.rooms .list-group-item {
  display: flex;
  gap: 5px;
}

.chats-div p,
.rooms p {
  flex: 1;
}
